@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Roles";
}

<h1 class="bg-info  text-white">Roles</h1>
<a asp-action="Create" class="btn btn-secondary">Criar Role</a>

<table class="table table-sm table-bordered table-bordered">
    <tr>
        <th>Id</th>
        <th>Nome</th>
    </tr>
    @foreach (var roles in Model)
    {
        <tr>
            <td>@roles.Id</td>
            <td>@roles.Name</td>
            <td i-role="@roles.Id"></td>
            <td><a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@roles.Id">Editar</a></td>
            <td>
                <form asp-action="Delete" asp-route-id="@roles.Id" method="get">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Deletar
                    </button>
                </form>
            </td>
        </tr>
    }
</table>